.header {
  display: flex;
  flex-direction: column;

  &__wrapper {
    background: url(/src/assets/header/header-backgraund.png) no-repeat center;
    background-size: cover;
  }

  &__title {
    width: 80%;
    font-size: 7rem;
    line-height: 8.2rem;
    font-weight: 800;

    padding-top: 100px;
    padding-left: 80px;

    color: $title-text-color;
  }

  &__text {
    width: 65%;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;

    padding-top: 24px;
    padding-left: 80px;

    color: $primary2;
  }

  &__button {
    @include df-jcc-alc;
    width: 320px;
    height: 80px;

    padding-top: 90px;
    padding-left: 80px;
    padding: 12px 24px;
    margin-bottom: 100px;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button-link {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 700;

    color: $primary2;
  }
}


@media (max-width: 1024px) {
  .wrapper {
    max-width: 967px;

    .header {
      &__title {
        width: 100%;
        font-size: 3rem;
        line-height: 5rem;

        padding-top: 160px;
        padding-left: 77px;
      }

      &__text {
        font-size: 2rem;
        line-height: 2.4rem;

        padding-top: 16px;
        padding-left: 77px;
      }

      &__button {
        margin-bottom: 60px;
      }
    }
  }
}


@media (max-width: 767px) {
  .wrapper {
    max-width: 668px;

    .header {
      &__title {
        font-size: 3rem;
        line-height: 6.1rem;

        padding-top: 16px;
        padding-left: 40px;
      }

      &__text {
        font-size: 1.8rem;
        line-height: 2.2rem;

        padding-top: 16px;
        padding-left: 40px;
      }
    }
  }
}


@media (max-width: 480px) {
  .wrapper {
    max-width: none;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__title {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;

        padding-top: 60px;
        padding-left: 22px;
      }

      &__text {
        width: 100%;
        font-size: 0.93rem;
        line-height: 1.5rem;
        text-align: center;

        padding-top: 6px;
        padding-left: 22px;
        padding-bottom: 22px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 160px;
        height: 40px;
      }

      &__button-link {
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
  }
}