.header-navigation {

  //navigation
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search-block {
    width: 22px;
    height: 22px;
  }

}

.menu {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;

    color: $main-text-color;
  }

  &__list-item:not(:last-child) {
    margin-right: 85px;
  }
}