@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 10px;
  line-height: 10px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
  background: #FFFFFF; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF9900; }

.slick {
  min-width: 0; }

.header-navigation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.header-navigation__logo-block {
  flex: 2; }

.header-navigation__search-block {
  width: 22px;
  height: 22px; }

.menu__list {
  display: flex;
  justify-content: center; }

.menu__list-link {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #333333; }

.menu__list-item {
  margin-right: 85px; }

.menu-btn {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  border-color: red; }
  .menu-btn__span, .menu-btn__span::after, .menu-btn__span::before {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #000000; }
  .menu-btn__span::after, .menu-btn__span::before {
    content: ""; }
  .menu-btn__span::after {
    transform: translateY(-5px); }
  .menu-btn__span::before {
    transform: translateY(5px); }

@media (max-width: 1024px) {
  .wrapper {
    max-width: 926px; }
  .header-navigation__wrapper {
    display: flex;
    justify-content: space-between; }
  .header-navigation__logo-block {
    order: 2;
    flex: 0; }
  .header-navigation__search-block {
    order: 3; }
  .menu-btn {
    order: 1;
    display: block; }
  .menu {
    display: none; } }

@media (max-width: 1024px) and (max-width: 767px) {
  .wrapper {
    max-width: 668px; } }

@media (max-width: 1024px) and (max-width: 480px) {
  .wrapper {
    max-width: none; }
  .header-navigation__logo-img {
    width: 100px;
    height: 30px; } }

.header {
  display: flex;
  flex-direction: column; }
  .header__wrapper {
    background: url(/src/assets/header/header-backgraund.png) no-repeat center;
    background-size: cover; }
  .header__title {
    width: 80%;
    font-size: 7rem;
    line-height: 8.2rem;
    font-weight: 800;
    padding-top: 100px;
    padding-left: 80px;
    color: #FFFFFF; }
  .header__text {
    width: 65%;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    padding-top: 24px;
    padding-left: 80px;
    color: #FFFFFF; }
  .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 80px;
    padding-top: 90px;
    padding-left: 80px;
    padding: 12px 24px;
    margin-bottom: 100px; }
  .header__button:hover {
    cursor: pointer; }
  .header__button-link {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 700;
    color: #FFFFFF; }

@media (max-width: 1024px) {
  .wrapper {
    max-width: 967px; }
    .wrapper .header__title {
      width: 100%;
      font-size: 3rem;
      line-height: 5rem;
      padding-top: 160px;
      padding-left: 77px; }
    .wrapper .header__text {
      font-size: 2rem;
      line-height: 2.4rem;
      padding-top: 16px;
      padding-left: 77px; }
    .wrapper .header__button {
      margin-bottom: 60px; } }

@media (max-width: 767px) {
  .wrapper {
    max-width: 668px; }
    .wrapper .header__title {
      font-size: 3rem;
      line-height: 6.1rem;
      padding-top: 16px;
      padding-left: 40px; }
    .wrapper .header__text {
      font-size: 1.8rem;
      line-height: 2.2rem;
      padding-top: 16px;
      padding-left: 40px; } }

@media (max-width: 480px) {
  .wrapper {
    max-width: none; }
    .wrapper .header {
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrapper .header__wrapper {
        display: flex;
        justify-content: center;
        align-items: center; }
      .wrapper .header__title {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        padding-top: 60px;
        padding-left: 22px; }
      .wrapper .header__text {
        width: 100%;
        font-size: 0.93rem;
        line-height: 1.5rem;
        text-align: center;
        padding-top: 6px;
        padding-left: 22px;
        padding-bottom: 22px; }
      .wrapper .header__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px; }
      .wrapper .header__button-link {
        font-size: 0.8rem;
        line-height: 1rem; } }
