* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  line-height: 10px; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
  background: #F13C6E; }

.header-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-navigation__search-block {
  width: 22px;
  height: 22px; }

.menu__list {
  display: flex;
  justify-content: space-between; }

.menu__list-link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #333333; }

.menu__list-item:not(:last-child) {
  margin-right: 85px; }
