@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  line-height: 10px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
  background: $primary2;
}